.title {
  margin-top: 7px;
  color: #006400;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.btn {
  font-size: large;
  margin-bottom: 10px;
}
.Single_header_content_buttons {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  float: left;
}
.choose {
  align-items: center;
  display: flex;
  height: 30px;
  font-size: medium;
  margin-top: 0px;
}
.btn-1 {
  padding: 10px;
  margin-bottom: 0px;
  font-size: large;
  margin-top: 6px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.Box {
  height: 350px;
  overflow: auto;
}
.Box > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px dimgrey;
  padding: 2px 5px;
  text-transform: capitalize;
  font-weight: 400;
  margin: 7px 0;
}
.head {
  text-align: center;
  font-weight: bolder;
  font-size: medium;
}
.details {
  /*margin: 10px;
  padding: 10px;*/
  margin-bottom: 0px;
  color: #006400;
}

@media only screen and (max-width: 768px) {
  .btn {
    padding-right: 20px;
    margin-right: 40px;
    height: 90px;
    width: auto;
  }
  .choose {
    font-size: xx-small;
    width: 90px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 1580px) and (min-width: 800px) {
  .btn-1 {
    margin-right: 570px;
  }
  .choose {
    margin-left: 20px;
    margin-right: 40px;
    width: 115px;
  }
}
.title {
  padding: 50px;
  margin-top: 0px;
  text-align: center;
  font-weight: bold;
}
