.client{
    padding-top:60px ;

}
.client_header{

    background-color: rgb(161, 221, 221);
}
.client_header_title{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    padding: 20px;
}
.client_header_content{

}
.client_header_content_div{
    text-align: center;
    padding: 10px;
    font-weight: 500;
}
.client-footer_title{
    text-align: center;
    font-weight: bold;
}
.client_header_content_buttons{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
table, th, td {
    border: 1px solid black;
}