.home{
    width: 100%;
    padding-top: 60px;
}
.home_image{
    width: 100%;
}
.homeimg{
    max-width: 100%;
}
.home_values{
    background: #e9ecef;
}
.home_values_content{
    /* padding: 50px 0px; */
    margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  padding-bottom: 50px;
}
.page_title{
    padding: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}
.about{
    /* background: lightgreen; */
}
.services{
    /* background: #e9ecef; */
    background: url(./pagesimages/plant1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;

}
.services_content{
    margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  padding-bottom: 50px;
}
.gallery{
    /* background: lightpink; */
}
.gallery_content{
    width: 80%;
    margin: 50px auto;
}
.item{

}
.item_image{
    /* padding: 50px; */
    border: 5px solid black;
    border-radius: 5px;

}
.titlehr{
    width: 5%;
    margin: 0 auto;
}
.gallery_content_mob{
    display: none;
}
.documents{
    width: 100%;
    background: #e9ecef;

}
.documents_content{
    display: flex;
    width: 80%;
    margin: 0px auto;
    padding-bottom: 50px;
    margin-top: 30px;

}
.documents_content_pdf{
    border: 2px solid black;
    padding: 15px;
    width: 33%;
    margin: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.contact{
    margin-bottom: 50px;
}
@media screen and (max-width: 768px) and (orientation: portrait) {

    .gallery_content{
        display: none;
    }
    .gallery_content_mob{
        width: 90%;
        margin: 30px auto;
        display: block;
    }
    .titlehr{
        width: 20%;
        margin: 0 auto;
    }
    .services{
        background: #e9ecef;
        color: black;
    }
    .documents_content{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0px auto;
        padding-bottom: 50px;
        margin-top: 10px;
    
    }
    .documents_content_pdf{
        border: 2px solid black;
        padding: 15px;
        width: 100%;
        margin: 0px;
        margin-top: 15px;
        text-align: center;
        font-weight: bold;
    }
}