@media only screen and (max-width: 768px) {
  .open {
    float: left;
    margin-top: 10px;
  }
  .delete {
    float: right;
    margin-top: 10px;
    width: 110px;
  }
}

.clientmain {
  border: 3px solid black;
  box-shadow: 5px gray;
  padding: 15px 20px;
  margin: 10px;
  background-color: #e0e0e0;
}
.vert {
  border: 1px solid black;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.open {
  background: #006400;
  color: whitesmoke;
  align-items: left;
  padding: 5px;
}

.delete {
  align-items: right;
  color: whitesmoke;
  padding: 5px;
}
